body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}


.background {
  background-image: url("pictures/background.png");
  backdrop-filter: blur(5px);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 10px;
}

.rune-container {
    text-align: center;
}

#rune-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #333;
}

.nav-img{
	height: 35px; 
	width: auto; 
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.nav-button {
    background-color: white;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
	height: 50px;
	width: 50px;
	position: relative;
	border-radius: 25%;
}

.nav-button:hover{
	background-color: lightgrey;
    color: white;
    border: none;
}

.nav-button:focus {
    outline: none;
}
