body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}


.background {
  background-image: url("pictures/background.png");
  backdrop-filter: blur(5px);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
    display: flex;
	justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 10px;
	height: 500px;
	width: 400px;
}

.rune-container {
    text-align: center;
	width: 250px;
}

#rune-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: #333;
}

.nav-img{
	position: absolute;
	height: 35px; 
	width: auto; 
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.nav-button {
    background-color: white;
	display: flex;
	justify-content: center;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
	top: 50%;
	height: 50px;
	width: 50px;
	border-radius: 25%;
	position: relative;
}

.nav-button:hover{
	background-color: lightgrey;
    color: white;
    border: none;
}

.nav-button:focus {
    outline: none;
}

.cont_b {
    position: absolute;
    top: 10px;
    left: 10px;
}

button {
	border-radius: 25%;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #282828;
}

#toggleText {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.hidden {
    display: none;
}